html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#app {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	font: 16px sans-serif;
}

.Example {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.Example-map {
	height: 500px;
	width: 750px;
}

.hoverinfo {
	padding: 4px;
	border-radius: 1px;
	background-color: #fff;
	box-shadow: 1px 1px 5px #ccc;
	font-size: 12px;
	border: 1px solid #ccc;
}
